* {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    padding: 1em 1em;
    width: 10%;
    height: 10%;
}

#search {
    display: flex;
}

form input {
    width: 40em;
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1.2em;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    box-shadow: none;
    height: 44px;
    outline: none;
    padding-left: 1em;
    
}

.cross-button,
.search-button {
    height: 44px;
    background: transparent;
    border: none;
    cursor: pointer;
    transform:scale(1.5,1.5);
}

.search-button {
    color: #1a73e8;
}

.btn-border {
    border-left: 1px solid #dfe1e5;
    padding-right: 0.3em;
}

.cross-button {
    color: #80868b;
}

ul {
    display: flex;
    margin-left: 10em;
}

li {
    margin-right: 1em;
    list-style-type: none;
    text-decoration: none;
    cursor: pointer;
}

#menu li {
    font-weight: 100;
    color: #4d5156;
}

.active {
    border-bottom:3px solid #1a73e8;
    color: #1a73e8;
}

.block-list {
    margin-left: 4em;
    display: flex;
}

hr {
    color: rgb(196, 188, 188);
    border: none;
    background-color: rgb(196, 188, 188);
    height: 1px;

}

#results {
    margin-left: 13em;
}

.result {
    margin-bottom: 3em;
    margin-right: 55em;
    word-wrap: break-word;
}

.result-numbers {
    color: #70757a;
}

.website-name {
    color: #020911;
}

h1 {
    color: #1a0dab;
    font-size: 1.3em;
    font-weight: normal;
    margin-top: -0.5em;
    cursor: pointer;
}

h2 {
    cursor: pointer;
}

.down-arrow-icon {
    right: 56em;
    position: absolute;
}

.questions h1 {
    color: #202124;
    cursor: default;
}

.questions h2 {
    font-weight: 200;
}

.questions hr {
    margin-right: 55em;
}

p {
    color: #4d5156;
    font-size: 0.9em;
}

.details {
    margin-top: -0.5em;
}

.link-folder-title {
    color: #70757a;
}

.down-icon {
    color: #70757a;
    cursor: pointer;
}

.related-searches h1 {
    color: #020911;
    cursor: default;
}

.related-searches h2 {
    color:#1a0dab;
}

.related-search-results {
    display: inline-flex;
}

.related-search-results-2 {
    padding-left: 2em;
}

.page-numbers {
    padding-left: 10em;
}

.numbers {
    padding-left: 2.5em;
}

.numbers a {
    color: #1a73e8;
    text-decoration: none;
}

.next-button {
    padding-left: 6em;
}

.forward {
    padding-bottom: 0.8em;
    color:#1a73e8;
    cursor: pointer;
}

footer {
    background-color: #f2f2f2;
    color: rgba(0,0,0,.54);
    line-height: 1em;
    margin-top: 0.5em;
    border-top: 1px solid #dadce0;
    margin-bottom: -0.5em;
}

.btn-border-footer {
    border-left: 1px solid #dadce0;
    padding-right: 1em;
}

.dot {
	border-radius: 100%;
	display: inline-block;
	height: 10px;
	margin: 4px 4px 9px 0;
	vertical-align: middle;
	width: 10px;
    background: #70757a;
}

.city {
    color: #3c4043;
    font-weight: bold;

}

.location {
    border-bottom: 1px solid #dadce0;
}

.sub-menu {
    padding-bottom: 0.1em;
}
