* {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    padding: 1em 1em;
    width: 10%;
    height: 10%;
}

#search {
    display: flex;
}

form input {
    width: 33em;
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1.2em;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    box-shadow: none;
    height: 44px;
    outline: none;
    padding-left: 1em;
    
}

.cross-button,
.search-button {
    height: 44px;
    background: transparent;
    border: none;
    cursor: pointer;
    transform:scale(1.5,1.5);
}

.search-button {
    color: #1a73e8;

}

.cross-button {
    color: #80868b;
}

ul {
    display: flex;
    margin-left: 10em;
}

li {
    margin-right: 1em;
    list-style-type: none;
    cursor: pointer;
}

.active {
    border-bottom:3px solid #1a73e8;
    color: #1a73e8;
}

.block-list {
    margin-left: 4em;
    display: flex;
}

hr {
    color: rgb(196, 188, 188);
    border: none;
    background-color: rgb(196, 188, 188);
    height: 1px;

}

#results {
    margin-left: 13em;
}

.result {
    margin-bottom: 3em;
    margin-right: 25em;
    word-wrap: break-word;
}

.result-numbers {
    color: #70757a;
}

.website-name {
    color: #020911;
}

h1 {
    color: #1a0dab;
    font-size: 1.5em;
    font-weight: normal;
    margin-top: -0.5em;
}

p {
    color: #4d5156;
}

.details {
    margin-top: -0.5em;
}

.link-folder-title {
    color: #70757a;
}

.down-icon {
    color: #70757a;
    cursor: pointer;
}

.related-searches h1 {
    color: #020911;
}